In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
url = 'https://github.com/nytimes/covid-19-data/blob/master/us-counties-2020.csv?raw=true'
df = pd.read_csv(url)

In [16]:
df['date'] = pd.to_datetime(df['date'])

In [19]:
df_first_wave = df[df['date'] > '06/30/2020']

In [22]:
treatment_states = ['Minnesota', 'Montana','Nevada','North Carolina','Rhode Island', 'Alabama','Arizona','Florida','Georgia','Kansas','Maine','Maryland','Mississippi','Missouri','New Hampshire','South Carolina','Tennesse','Texas','Utah','Virgina']

In [23]:
control_states = ['Arkansas','Iowa','Nebraska','North Dakota','Oklahoma', 'South Dakota', 'Wyoming']

In [24]:
treatment_df = df_first_wave[df_first_wave['state'].isin(treatment_states)]

In [25]:
control_df = df_first_wave[df_first_wave['state'].isin(control_states)]

In [26]:
treatment_df

             date      county    state     fips  cases  deaths
290229 2020-07-01     Autauga  Alabama   1001.0    553    12.0
290230 2020-07-01     Baldwin  Alabama   1003.0    703    10.0
290231 2020-07-01     Barbour  Alabama   1005.0    326     1.0
290232 2020-07-01        Bibb  Alabama   1007.0    174     1.0
290233 2020-07-01      Blount  Alabama   1009.0    218     1.0
...           ...         ...      ...      ...    ...     ...
884392 2020-12-31        Utah     Utah  49049.0  67250   215.0
884393 2020-12-31     Wasatch     Utah  49051.0   3196    15.0
884394 2020-12-31  Washington     Utah  49053.0  14765   111.0
884395 2020-12-31       Wayne     Utah  49055.0     70     0.0
884396 2020-12-31       Weber     Utah  49057.0  19517    96.0

[231238 rows x 6 columns]